<h1>Targets#edit</h1>
<p>Find me in app/views/targets/edit.html.erb</p>

<table>

<%= form_for @target, url: target_path do |f| %>

<tr>
  <th>貯金目的</th>
  <td><%= f.text_field :target_purpose %></td>
</tr></br>

<tr>
  <th>目標金額</th>
  <td><%= f.text_field :target_cost %></td>
</tr></br>

</table>

<%= f.submit "更新" %>

<% end %>

