<div class="target-background">
	<div class="target-title">
	  <h1>貯金項目の編集</h1>
	</div>

	<%= form_for @target, url: target_path do |f| %>

	<div class="container">
	  <div class="row">
	    <div class="col-xs-6">

	      <h3 class="target-table-title">項目と目標金額</h3>

				<table class="target-blue-table">
					<tr>
					  <th>項目</th>
					  <td><%= f.text_field :target_purpose, class: "validate[required]" %>　</td>
					</tr>

					<tr>
					  <th>目標金額</th>
					  <td><%= f.text_field :target_cost, class: "validate[required,custom[number]]" %>円</td>
					</tr>
				</table>

			</div>
		</div>
	</div>

	<div class="target-create-btn">
		<%= f.submit "更新", class:'btn btn-primary btn-block' %>
	</div>

	<% end %>

	<div class="target-space"></div>

</div>

