<div class="cost-box">
  <div class="cost-inbox">
	<div class="render-cost-pie">
	<%= render 'cost_pie', total_cost: @total_cost %>
	</div>

	<div class="cost-table">
	  <%= render 'proportial_costs/index', proportial_costs: @proportial_costs %>
	</div>
  </div>
</div>