<script>
  $("#user-modal").html("<div><%= escape_javascript(render 'new') %></div>")
  $("#user-modal").modal("show")
  console.log($("#user-modal").html("<%= escape_javascript(render 'new') %>"))
</script>

<div id="user-modal"></div>