<div class="income-box">
  <div class="income-inbox">
    <div class="render-income-pie">
      <%= render 'income_pie', total_imcomes: @total_imcomes,incomes_salary: @incomes_salary%>
    </div>

    <div class="income-table">
      <%= render 'index', incomes: @incomes %>
    </div>
  </div>
</div>


