<div class="fixed-costs-title">
　<h1>貯金額の編集</h1>
</div>

<%= form_for @target_item, url: target_target_item_path do |f| %>

<div class="container">
  <div class="row-fix">
    <div class="col-xs-6">

      <h4 class="fixed-table-title">項目と目標金額</h4>

        <table>

        	<tr>
        	  <th>貯金額の変更</th>
        	  <td><%= f.text_field :target_by_month %></td>
        	</tr>

        </table>

        <div class="fixed-edit">

			<%= f.submit "貯金",class:'btn btn-primary' %>
	    </div>

	<% end %>

	</div>
  </div>
</div>

