<div class="fixed-costs-title">
  <h1>このアプリについて</h1>
</div>

<div class="about">
	<h2>機能</h2>
	<h4>・日々の収支の登録をカレンダーから行える</h4>
	<h4>・当月の収入・支出を円グラフで見ることができる</h4>
	<h4>・固定費は一度登録すれば、収支に反映される</h4>
	<h4>・比例費はその都度、登録が可能</h4>
	<h4>・貯金・ローンの返済の登録が可能</h4>
	<h4>・当月の予算が登録でき、実際の支出と対比することが可能</h4>
</div>
