<div class="background">
	<div class="home-title">
  	<h1>Step-by-Stepとは</h1>
  	<p>「日々の収支が把握できない」、「お金の管理に困っている」そんな人たちにに向けて作られた家計簿のアプリです。</p>
  	<p>今日から、一緒に家計簿を作ってみませんか？
  		<%= link_to "作ってみる", new_user_session_path, class: 'btn btn-primary' %></p>
	</div>

</div>

<%= render 'homes/about_bottom' %>