/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header-title {
  width: 300px;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
}

.header-title > h4 {
    margin: 10px 0 5px;
  }

.underline-title {
  width: 150px;
	border: dashed 2px orange;
	margin: 0 auto;
}

.header-item {
  list-style: none;
  color: #ffeaea;
  padding: 0;
  height: 40px;
}

.header-items {
  width: 100px;
  display: inline-block;
  padding: 0.5em 1em;
  background: #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
  box-shadow: 0px 4px 0 rgba(#ffc3c3,.3);
    &:hover {
    background-color: #ffeaea;
    border: dashed 2px #ffc3c3;
    box-shadow: none;
    transform: translate3d(0,3px,0);
  }
}

.nav-list {
  list-style: none;
  background: #d6ebff;
  padding: 0;
  height: 50px;
  text-align: center;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  width: 165px;
  font-size: 14px;
  float: left;
  text-align: center;
  padding: 0.2em 0.5em;
  margin: 0.5em 0.5em;
  background: #d6ebff;
  border: dashed 2px white;
  font-family: 'M PLUS 1p', sans-serif;

    &:hover {
    background-color: #d6ebff;
    border: dashed 2px white;
    box-shadow: none;
    transform: translate3d(0,3px,0);
  }
}

.goal-btn {
  margin: 10px 0 0 0;
}




.fixed-table-title {
  position: relative;
  padding-left: 25px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.fixed-table-title:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #52c2d0;
}
.fixed-table-title:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #52c2d0;
}

footer {
  background: #d6ebff;
  height: 60px;
  text-align:right;
  line-height: 60px;
  padding-right: 60px;
  font-size: 16px;
}