// Place all the styles related to the communications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.parentFormnew_communication {
  width: 200px;
}

.communication-background {
  background-image: image-url('table_background.jpg');
  background-size: 100% 100%;
  height: 555px;
  padding-top: 30px;
}

.communication-title h1 {
  margin: 0;
  position:  relative;
  font-weight:  normal;
  font-size: 32px;
  text-align:  center;
  padding: 10px 0 10px;
  border-top: solid 1px;
  border-bottom:  solid 1px;
  width:  450px;
  background-color: #ccffcc;
  margin: 0 0 35px 135px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.communication-table-title {
  position: relative;
  padding-left: 25px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.communication-table-title:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(119, 195, 223);
}

.communication-table-title:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px rgb(119, 195, 223);
}

.commication-edit-btn {
  width: 300px;
  margin: 50px auto 30px;
}

.communication-green-table{
  width: 100%;
  border-collapse: collapse;
  height:20px;
}

.communication-green-table tr{
  border-bottom: solid 2px white;
  height:20px;
}

.communication-green-table tr:last-child{
  border-bottom: none;
}

.communication-green-table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 10px 0;
  height:20px;
}

.communication-green-table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #dcdcdc;
  padding: 10px 0;
  font-size: 20px;
  height:20px;
}

.communication-green-table td input{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #d6ebff;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 20px;
}

.communication-background .col-xs-5 {
  border: solid 2px gray;
  border-radius: 10px;
  padding:10px 20px 20px;
  margin-top: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}