// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.goal-background {
  background-image: image-url('pie_background.jpg');
  background-size: 100% 100%;
  padding: 100px 0 30px;
}

.goal-title h1 {
  margin: 0;
  position:  relative;
  font-weight:  normal;
  font-size: 32px;
  text-align:  center;
  padding: 10px 0 10px;
  border-top: solid 1px;
  border-bottom:  solid 1px;
  width:  450px;
  background-color: #ccffcc;
  margin: 0 0 35px 130px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.goal-table-title {
  position: relative;
  padding-left: 25px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 35px;
}

.goal-table-title:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #77c3df;
}

.goal-table-title:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #77c3df;
}

.goal-green-table{
  width: 100%;
  border-collapse: collapse;
  height:20px;
}

.goal-green-table tr{
  border-bottom: solid 2px white;
  height:20px;
}

.goal-green-table tr:last-child{
  border-bottom: none;
}
.goal-green-table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 10px 0;
  height:20px;
}

.goal-green-table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #dcdcdc;
  padding: 10px 0;
  font-size: 20px;
  height:20px;
}

.goal-green-table td input{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #d6ebff;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 20px;
}

.goal-create-btn {
  width: 300px;
  margin: 50px 0 30px 130px;
}

.goal-create-btn .btn-primary  {
  margin-left: 0;
}

.goal-edit-btn {
  width: 300px;
  margin: 20px 0 30px 160px;
  display: flex;
}

.goal-edit-btn .btn-success, .goal-edit-btn .btn-danger {
  width:100px;
  margin: 0 0 0 10px;
}

.goal-background .col-xs-5, .goal-grap  {
  border: solid 2px gray;
  border-radius: 10px;
  padding:10px 20px 20px;
  margin-top: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

#myBarChart {
  margin-top: 50px;
}