// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar-box {
}

#calendar {
  font-size: 20px;
  margin: 20px 100px;
}

.fc-content {
  text-align: center;
  height: 25px;
  line-height: 25px;
}

.fc-day {
  &:hover {
    background-color: #98fb98;
    border-color: black;
  }
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
  border-color: black;
}

.fc-sun {
  background-color: #ffe4e1;
  color: red;
}

.fc-sat {
  background-color: #87cefa;
  color: blue;
}

.fc-event-container .fc-event div {
  font-size: 17px;
  height: 25px;
  text-align: center;
}

.home-title h1 {
	  position: relative;
	  background: #f0e68c;
	  box-shadow: 0px 0px 0px 5px #f0e68c;
	  padding: 10px 10px;
	  margin: 20px 20px;
	  color: #454545;
	  width: 500px;
	  text-align: center;
	  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.home-title h1:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #f0e68c;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.about {
  margin-left: 100px;
  margin-bottom: 100px;
}

.about {
  h2 {
    margin: 10px 10px;
    padding: 10px;
    border: 2px solid black;
    width: 200px;
    text-align: center;
    border-radius: 10px;
  }
  h4 {
    width: 500px;
    margin: 30px 0;
    border-bottom: solid 3px #00ffff;

  }
}