// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar-box {
  background-image: image-url('calender_back.jpg');
  background-size: cover;
}

#calendar {
  font-size: 20px;
  margin: 20px auto;
  width: 60%;
}

.fc-content {
  text-align: center;
  height: 25px;
  line-height: 25px;
}

.fc-day {
  &:hover {
    background-color: #98fb98;
    border-color: black;
  }
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
  border-color: black;
}

.fc-sun {
  background-color: #ffe4e1;
  color: red;
}

.fc-sat {
  background-color: #87cefa;
  color: blue;
}

.fc-event-container .fc-event div {
  font-size: 17px;
  height: 25px;
  text-align: center;
}

.background {
  background-image: image-url('about.jpg');
  background-size: cover;
  background-position: top center;
  height: 350px;
}

.home-title {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 200px;
  background-color: rgba( 0, 0, 0, 0.5);
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.home-title h1, .home-title p {
 color: white;
 margin-top:20px;
}

 .welcome {
  padding-left: 20px;
}

.home-title-calendar h1 {
    padding: 30px 250px 0;
    margin: 0;
    color: #454545;
    width: 60%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.home-title-calendar h2 {
    color: #454545;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.img {
  width: 200px;
  text-align: center;
  padding-top: 30px;
}

.img-box {
  width: 150px;
  height: 150px;
  background-size: cover;
}

.img-box-small {
  width: 150px;
  height: 150px;
  background-size: cover;
}

.about-item {
  display: flex;
  width: 600px;
  padding: 20px;
  margin: 40px 50px ;
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.about {
  display: flex;
  flex-wrap: wrap;
}

.category {
  width: 350px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.category h4 {
  margin-bottom: 40px;
  border-left: solid 5px orange;
  padding-left: 20px;
}

.category p {
  padding-left: 10px;
}

.about-title {
  position: relative;
  padding-left: 25px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  width: 400px;
  margin-top: 60px;
  margin-left: 50px;
}

.about-title:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(119, 195, 223);
}
.about-title:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px rgb(119, 195, 223);
}

.btn-primary {
  margin-left: 20px;
}