// Place all the styles related to the incomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.income-title h1 {
    margin:  0;
    font-size:  24px;
    position:  relative;
    font-weight:  normal;
    display:  inline-block;
    background-color: #feeaac;
    padding:  10px;
    margin-bottom: 15px;
    border-radius:  2px;
	  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.income-title h1:after {
    content:  '';
    background-color: #b3b3b3;
    display:  block;
    position:  absolute;
    left: 50%;
    height: 60%;
    top: 26%;
    z-index:  -1;
    width: 46%;
    box-shadow: 0 0 8px 8px #b3b3b3;
    transform: rotate(3deg);
}

.income-blue-table{
  width: 600px;
  border-collapse: collapse;
  height:20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
}

.income-blue-table tr{
  border-bottom: solid 2px white;
  height:20px;
}

.income-blue-table tr:last-child{
  border-bottom: none;
}

.income-blue-table th{
  position: relative;
  text-align: left;
  width: 50px;
  background-color: #00bfff;
  color: white;
  text-align: center;
  padding: 10px 0;
  height:20px;
}

.income-blue-table td{
  text-align: left;
  width: 100px;
  text-align: center;
  background-color: #dcdcdc;
  padding: 10px 0;
  font-size: 20px;
  height:20px;
}

.income-blue-table td input{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #d6ebff;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 20px;
}

.income-list-table{
  width: 100%;
  height: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18px;
}

.income-list-table tr{
  border-bottom: solid 2px white;
  height:10px;
}

.income-list-table tr:last-child{
  border-bottom: none;
}

.income-list-table th{
  width: 20%;
  position: relative;
  background-color: palegreen;
  text-align: center;
  height: 10px;
}

.income-list-table td{
  width: 20%;
  text-align: center;
  background-color: #dcdcdc;
  padding: 10px 5px;
  font-size: 18px;
  height:20px;
}

.income-create-btn {
  margin: 10px 0 20px 0;
  width: 200px;
}

.container {
  width: 1400px ;
}

.income-items {
  list-style: none;
  width: 80px;
  display: inline-block;
}



input#income_income_item_給料,
input#income_income_item_手当て,
input#income_income_item_退職金,
input#income_income_item_その他,{
	width: 20px;
}

.income-box {
  background-image: image-url('pie_background.jpg');
  padding:50px;
}

.income-inbox {
  display: flex;
  background-size: cover;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}

.render-income-pie {
  width: 45%;
  height: 450px;
  padding:10px 20px 20px;
  margin: 10px 20px 0;
}

.income-table {
  width: 50%;
  padding: 100px 0 0;
}

.income-head, .income-body{
  display:block;
}

.income-body{
  overflow-y:scroll;
  height:300px;
}