// Place all the styles related to the loans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loan-title h1 {
	  position: relative;
	  background: #f0e68c;
	  box-shadow: 0px 0px 0px 5px #f0e68c;
	  padding: 10px 10px;
	  margin: 20px 20px;
	  color: #454545;
	  width: 500px;
	  text-align: center;
	  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.loan-title h1:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #f0e68c;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.loan-table-title {
  position: relative;
  padding-left: 25px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.loan-table-title:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #fa8072;
}
.loan-table-title:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #fa8072;
}

.loan-red-table{
  width: 100%;
  border-collapse: collapse;
  height:20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
}

.loan-red-table tr{
  border-bottom: solid 2px white;
  height:20px;
}

.loan-red-table tr:last-child{
  border-bottom: none;
}
.loan-red-table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #fa8072;
  color: white;
  text-align: center;
  padding: 10px 0;
  height:20px;
}

.loan-red-table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #dcdcdc;
  padding: 10px 0;
  font-size: 20px;
  height:20px;
}

.loan-red-table td input{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #d6ebff;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 20px;
}

#loan_item_loan_by_month {
  background-color: #d6ebff;
}

.loan-create-btn {
  width: 200px;
  margin: 30px 0 ;
}