// Place all the styles related to the proportial-costs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pro-cost-title h1 {
	  position: relative;
	  background: #f0e68c;
	  box-shadow: 0px 0px 0px 5px #f0e68c;
	  padding: 10px 10px;
	  margin: 20px 20px;
	  color: #454545;
	  width: 250px;
	  text-align: center;
	  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.pro-cost-title h1:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #f0e68c;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.pro-cost-red-table{
  width: 700px;
  border-collapse: collapse;
  height:20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
}

.pro-cost-red-table tr{
  border-bottom: solid 2px white;
  height:20px;
}

.pro-cost-red-table tr:last-child{
  border-bottom: none;
}

.pro-cost-red-table th{
  position: relative;
  text-align: left;
  width: 30px;
  background-color: #fa8072;
  color: white;
  text-align: center;
  padding: 10px 0;
  height:20px;
}

.pro-cost-red-table td{
  text-align: left;
  width: 100px;
  text-align: center;
  background-color: #dcdcdc;
  padding: 10px 0;
  font-size: 20px;
  height:20px;
}

.pro-cost-red-table td input{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #d6ebff;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 20px;
}

.pro-cost-list-table{
  width: 1200px;
  height:20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  margin: 20px 0;
}

.pro-cost-list-table tr{
  border-bottom: solid 2px white;
  height:10px;
}

.pro-cost-list-table tr:last-child{
  border-bottom: none;
}

.pro-cost-list-table th{
  position: relative;
  text-align: left;
  width: 100px;
  background-color: linen;
  text-align: center;
  padding:  0;
  height:10px;
}

.pro-cost-list-table td{
  text-align: left;
  width: 100px;
  text-align: center;
  background-color: #dcdcdc;
  padding: 10px 0;
  font-size: 20px;
  height:20px;
}

.pro-cost-list-table td input{
  text-align: left;
  width: 100;
  text-align: center;
  background-color: #d6ebff;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 20px;
}

.pro-cost-create-btn {
  margin: 10px 0 20px 0;
  width: 200px;
}

.container {
  width: 1400px ;
  height: 400px;
}

.pro-cost-items {
  list-style: none;
  display: inline-block;
  width: 80px;
}

.pro-cost-item {
 padding: 0;
}

input#proportial_cost_proportial_cost_item_食費,
input#proportial_cost_proportial_cost_item_交通費,
input#proportial_cost_proportial_cost_item_交際費,
input#proportial_cost_proportial_cost_item_日用品,
input#proportial_cost_proportial_cost_item_その他, {
	width: 15px;
}
