// Place all the styles related to the targets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.target-background {
  background-image: image-url('background_blue.jpg');
  background-size: 100% 100%;

}

.target-title h1 {
	  position: relative;
	  background: #f0e68c;
	  box-shadow: 0px 0px 0px 5px #f0e68c;
	  padding: 10px 10px;
	  margin: 0px 20px 20px;
	  color: #454545;
	  width: 500px;
	  text-align: center;
	  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.target-title h1:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #f0e68c;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

//targetテーブルのCSS

.target-table-title {
  position: relative;
  padding-left: 25px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 35px;
}

.target-table-title:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #00bfff;
}

.target-table-title:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #00bfff;
}

.edit-destroy-btn {
  text-align: right;
}

.loan-table-title {
  position: relative;
  padding-left: 25px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 35px;
}

.loan-table-title:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #fa8072;
}

.loan-table-title:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #fa8072;
}

.target-blue-table{
  width: 100%;
  border-collapse: collapse;
  height:20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
}

.target-blue-table tr{
  border-bottom: solid 2px white;
  height:20px;
}

.target-blue-table tr:last-child{
  border-bottom: none;
}

.target-blue-table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #00bfff;
  color: white;
  text-align: center;
  padding: 10px 0;
  height:20px;
}

.target-blue-table td{
  text-align: left;
  width: 70%;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  background-color: #dcdcdc;
  height:20px;
}

.target-blue-table td .btn-warning {
  width: 90px;
  margin-right: 10px;
}

.target-blue-table td input{
  text-align: left;
  width: 70%;
  text-align: center;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 20px;
  background-color: #d6ebff;
}

.target-create-btn {
  width: 200px;
  margin: 30px 0;
}

//targetとloanのリストのテーブルのCSS

.list-table{
  width: 100%;
  height:20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  margin-top: 20px;
}

.list-table tr{
  border-bottom: solid 2px white;
  height:10px;
}

.list-table tr:last-child{
  border-bottom: none;
}

.list-table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: linen;
  color: black;
  text-align: center;
  padding:  0;
  height:10px;
}

.list-table td{
  text-align: left;
  width: 100px;
  text-align: center;
  background-color: #dcdcdc;
  padding: 10px 0;
  font-size: 20px;
  height:20px;
}

.list-table td input{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #d6ebff;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 20px;
}

//loanテーブルのCSS

.loan-table-title {
  position: relative;
  padding-left: 25px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 35px;
}

.loan-table-title:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #fa8072;
}

.loan-table-title:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #fa8072;
}

.loan-red-table{
  width: 100%;
  border-collapse: collapse;
  height:20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  margin-top: 20px;
}


.loan-red-table tr{
  border-bottom: solid 2px white;
  height:20px;
}

.loan-red-table tr:last-child{
  border-bottom: none;
}

.loan-red-table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #fa8072;
  color: white;
  text-align: center;
  padding: 10px 0;
  height:20px;
}

.loan-red-table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #dcdcdc;
  padding: 10px 0;
  font-size: 20px;
  height:20px;
}

.loan-red-table td input {
  text-align: left;
  width: 70%;
  text-align: center;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 20px;
}

//共通のボタン

.btn-primary {
  margin-right: 10px;
}
.btn-danger {
  margin-right: 10px;
}
.btn btn-warning {
  background-color: orange;
}

.target-background .container {
}

.target-background .col-xs-6 {
  border: solid 2px gray;
  border-radius: 10px;
  padding:10px 20px 20px;
  margin: 90px 0 0 ;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.target-space {
  height: 170px;
}
