// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

*{box-sizing:border-box;}

//サインイン・ログインのデザイン

.login-body {
  width: 100%;
  height: 1200px;
  margin: 0;
  background-image: image-url('top.jpg');
  background-size:  cover;
  background-color: rgba( 0, 0, 0, 0.5);
}

.login-body-mask {
  width: 100%;
  height: 1200px;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
}

.log-form {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  margin-top: 50px;
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  }

.log-form > h2 {
  font-family: 'M PLUS 1p', sans-serif;
  background: #e6e6fa;
  text-transform: uppercase;
  padding: .75em 1em .75em 1.5em;
}

.form {
  padding: 2em;
}

.input {
  margin: 15px 0;
}

input#user_name,
input#user_password,
input#user_old,
input#user_job,
input#user_deposit,
input#user_member,
input#user_email,
input#user_password_confirmation {
    height: 30px;
    display: block;
    margin: 0  auto;
    width: 100%;
    border: none;
    border-bottom: 1px solid #eaeaea;
    color: #757575;
}


.forgot {
  color: lighten(#1fb5bf, 10%);
  line-height: .5em;
  position: relative;
  top: 2.5em;
  text-decoration: none;
  font-size: .75em;
  margin:0;
  padding: 0;
  float: right;

  &:hover {
    color:darken(#1fb5bf, 5%);
  }
  &:active{
  }
}

.sex {
  width: 250px;
  padding: 0;
}

.sex-item {
  display :flex;
  list-style: none;
  padding: 0;
}

input#user_sex_男性,
input#user_sex_女性,
input#user_sex_その他,{
  width: 30px;
}

.login-btn {
  margin-top: 45px;
}

.alert {
  color: red;
  background-color: #fffacd;
  border: #fffacd;
  border-radius: 5px;
}


//login後のuserデザイン

.title h1 {
  position: relative;
  background: #f0e68c;
  box-shadow: 0px 0px 0px 5px #f0e68c;
  padding: 10px 10px;
  margin: 20px 20px;
  color: #454545;
  width: 250px;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;

}

.title h1 :after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #f0e68c;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.table-title {
  position: relative;
  padding-left: 25px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.table-title:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #52c2d0;
}
.table-title:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #52c2d0;
}

.user-green-table {
  border-collapse: collapse;
  height:20px;
  table-layout: fixed;
}

.user-green-table tr{
  border-bottom: solid 2px white;
  height:20px;
}

.user-green-table tr:last-child{
  border-bottom: none;
}
.user-green-table th{
  position: relative;
  text-align: left;
  width: 150px;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 10px 0;
  height:20px;
}

.user-green-table td{
  text-align: left;
  text-align: center;
  background-color: #dcdcdc;
  padding: 10px 50px;
  font-size: 20px;
  height:20px;
  width: 300px;
  color: black;
}

.user-green-table td input{
  text-align: left;
  text-align: center;
  background-color: #d6ebff;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 20px;
}

.user-green-table .user-index-btn a{
  width: 40px;
}

.user-green-table .user-index-btn {
  width: 40px;
  padding: 10px
}


.goal-btn {
  width: 200px;
  margin: 10px 0 15px 0;
}


.list-table{
  width: 100%;
  height:20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  margin-top: 20px;
}

.list-table tr{
  border-bottom: solid 2px white;
  height:10px;
}

.list-table tr:last-child{
  border-bottom: none;
}
.list-table th{
  position: relative;
  text-align: left;
  width: 10%;
  background-color: d6ebff;
  color: white;
  text-align: center;
  padding:  0;
  height:10px;
}

.list-table td{
  text-align: left;
  width: 100px;
  text-align: center;
  background-color: #dcdcdc;
  padding: 10px 0;
  font-size: 20px;
  height:20px;
}

.list-table td input{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #d6ebff;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 20px;
}

.sex-items-edit {
  width: 100px;
  padding-top: 10px;
}
