// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

*{box-sizing:border-box;}


.fixed-table-title {
  position: relative;
  padding-left: 25px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.fixed-table-title:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #52c2d0;
}
.fixed-table-title:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #52c2d0;
}


table{
  width: 100%;
  border-collapse: collapse;
  height:20px;
}

table tr{
  border-bottom: solid 2px white;
  height:20px;
}

table tr:last-child{
  border-bottom: none;
}
table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 10px 0;
  height:20px;
}

table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #dcdcdc;
  padding: 10px 60px;
  font-size: 20px;
  height:20px;
}

table td input{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #d6ebff;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 20px;
}

  input#user_name,
  input#user_password,
  input#user_old,
  input#user_job,
  input#user_deposit,
  input#user_member,
  input#user_email,
  input#user_password_confirmation

   {
    display: block;
    margin: auto auto;
    width: 100%;
    border: none;
    border-bottom: 1px solid #eaeaea;
    color: #757575;
    &:focus {
      outline: none;
    }
  }

.goal-btn {
  margin: 10px 0 0 0;
}

.sex-items-edit {
  width: 100px ;
}

input#user_sex_男性,
input#user_sex_女性,
input#user_sex_その他,{
  width: 30px;
}

.list-table{
  width: 100%;
  height:20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  margin-top: 20px;
}

.list-table tr{
  border-bottom: solid 2px white;
  height:10px;
}

.list-table tr:last-child{
  border-bottom: none;
}
.list-table th{
  position: relative;
  text-align: left;
  width: 10%;
  background-color: d6ebff;
  color: white;
  text-align: center;
  padding:  0;
  height:10px;
}

.list-table td{
  text-align: left;
  width: 100px;
  text-align: center;
  background-color: #dcdcdc;
  padding: 10px 0;
  font-size: 20px;
  height:20px;
}

.list-table td input{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #d6ebff;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 20px;
}


